<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/playlist.css">
</head>
<body>
    <header>
    <%- include('../includes/menu_side.ejs') %>
        <div class="song_side">
            <%- include('../includes/nav.ejs') %>
            

            <div class="head-section">
                <img src="<%= locals.artistDetails.images[0].url %>" alt="image">
                <p class="title"><%= locals.artistDetails.name %></p>
            </div>
            <!-- Artist top tracks -->
            <% 
            const {
                tracks: topTracks
            } = locals.artistTopTracks %>
            <% if (topTracks.length > 0) { %>
            <div class="liked_songs">
                <ul>
                    <% topTracks.forEach(({album: {images}, name, artists}) => { %>
                        <li>
                            <img src="<%= images[0].url %>" alt="song_image">
                            <i class="bi bi-play-circle-fill"></i>
                            <% const text = artists.map(({name})=> name).join(', '); %>
                            <h5><%= name %> <br>
                                <div class="artist_name"><%= text %></div>
                            </h5>    
                        </li>
                    <% }); %>
                </ul>
            </div>
            <% } %>
            </div>
        
    <%- include('../includes/master_side.ejs') %>
        
    </header>
</body>
</html>           


